@if (manches().length > 0) {
  <div class="partie-container">
    @if (etatPartie() === 'CHOIX_CATEGORIE') {
      <div class="champ-equipe">L'équipe {{ equipeEnJeu }} choisit son thème</div>
    }
    @if (etatPartie() === 'QUESTION_1' || etatPartie() === 'QUESTION_2') {
      <div class="champ-equipe">C'est au tour de l'équipe {{ equipeEnJeu }}</div>
    }
    @if (etatPartie() === 'CHOIX_CATEGORIE') {
      <choix-categorie
        [manche]="manches()[indexManche()]"
        (onCategorieSelected)="showSelectedQuestion($event)"
      ></choix-categorie>
    }
    @if (etatPartie() === 'QUESTION_1' || etatPartie() === 'QUESTION_2') {
      <question
        [questionSet]="currentQuestion()"
        [musiqueSet]="musiques[indexManche()]"
        [mortSubite]="mortSubiteActivated"
      ></question>
    }
    @if (etatPartie() === 'SCORES') {
      <scores></scores>
    }
  </div>
}
