<div class="gestion-questions-container">
  <bouton-retour></bouton-retour>
  <h2>Gestion des questions</h2>
  <button class="btn btn-primary" (click)="openModalCreationQuestion()">
    <mat-icon>add</mat-icon>Créer une nouvelle question
  </button>
  <div class="table-wrapper">
    <table mat-table [dataSource]="questionsDisplayed()">
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef>Question</th>
        <td mat-cell *matCellDef="let question">{{ question.question }}</td>
      </ng-container>

      <ng-container matColumnDef="reponses">
        <th mat-header-cell *matHeaderCellDef>Réponses</th>
        <td mat-cell *matCellDef="let question">
          <mat-grid-list cols="2" rowHeight="3vh" gutterSize="0.5vh">
            @for (reponse of question.reponses; track reponse) {
              <mat-grid-tile class="champ-reponse">{{ reponse }}</mat-grid-tile>
            }
          </mat-grid-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
