.homepage-container {
  height: 100vh;
  width: 100vw;
  padding: 0;

  background-color: lightgray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow-y: auto;

  .btn-primary {
    width: 40vw;
    border-width: 1vh;
    border-color: black;

    font-size: 6vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .btn-primary {
    margin-bottom: 1vh;
  }
}
