@if (question) {
  <div class="question-container">
    <div class="question-display">
      <div class="champ-question">{{ question.question }}</div>
      <div
        class="cache-question"
        [class.hidden]="questionShown() || admin"
        (click)="revealQuestion()"
      >
        {{ mortSubite ? 'MORT SUBITE' : question.categorie }}
      </div>
    </div>
    <div class="interactive-container">
      <reponses-list
        [reponses]="question.reponses"
        [mortSubite]="mortSubite"
        [admin]="admin"
        [ngClass]="{
          'admin-display': admin,
        }"
      ></reponses-list>
      @if (!admin) {
        <chronometre [musique]="musique"></chronometre>
      }
    </div>
  </div>
}
