<div class="question-container" *ngIf="question">
  <div
    class="champ-question"
    (click)="revealQuestion()"
    [ngClass]="{
      'show-question': startTransition || admin,
      'mort-subite': mortSubite,
    }"
  >
    <span>{{
      questionShown ? question.question : mortSubite ? 'MORT SUBITE' : question.categorie
    }}</span>
  </div>
  <div class="interactive-container">
    <reponses-list
      [reponses]="question.reponses"
      [mortSubite]="mortSubite"
      [admin]="admin"
      [ngClass]="{
        'admin-display': admin,
      }"
    ></reponses-list>
    <chronometre [musique]="musique" *ngIf="!admin"></chronometre>
  </div>
</div>
