<div class="manche-control-form-container champ-manche">
  <form [formGroup]="mancheForm">
    @for (questionFormFieldName of formNameList; track questionFormFieldName; let i = $index) {
      <div
        class="question-form-container"
        >
        <mat-form-field>
          <mat-label>Catégorie {{ 2 * mancheIndex + i - 1 }}</mat-label>
          <mat-select
            [formControlName]="questionFormFieldName[0]"
            (selectionChange)="onCategorieSelected($event, i)"
            >
            @for (categorie of listeCategories; track categorie) {
              <mat-option [value]="categorie.id">{{
                categorie.libelleCategorie
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Question {{ 2 * mancheIndex + i - 1 }}</mat-label>
          <mat-select
            [formControlName]="questionFormFieldName[1]"
            (selectionChange)="onQuestionSelected($event, i)"
            >
            @for (question of questionsLists()[i]; track question) {
              <mat-option [value]="question.id">{{
                question.question
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    }
  </form>
  <div></div>
</div>
