<h2 mat-dialog-title>Créer une nouvelle partie</h2>
@if ({ allCategories: allCategories$ | async, mortSubites: mortSubites$ | async }; as data) {
  <mat-dialog-content
    >
    <form [formGroup]="partieForm">
      <mat-form-field>
        <mat-label>Nom de la partie</mat-label>
        <input matInput formControlName="nomPartie" />
      </mat-form-field>
      @for (formName of mancheFormNames; track formName; let i = $index) {
        <manche-form-control
          [listeCategories]="data.allCategories || []"
          [formControlName]="formName"
          [mancheIndex]="i + 1"
        ></manche-form-control>
      }
      <mat-form-field class="champ-manche mort-subite">
        <mat-label>Mort Subite</mat-label>
        <mat-select formControlName="mortSubite">
          @for (ms of data.mortSubites; track ms) {
            <mat-option [value]="ms.id">{{
              ms.question
            }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
}
<mat-dialog-actions align="end">
  <button class="btn btn-cancel" mat-dialog-close>Annuler</button>
  <button class="btn btn-primary" (click)="createPartie()" [disabled]="partieForm.invalid">
    Créér la partie
  </button>
</mat-dialog-actions>
