<div class="reponse-list-container">
  <mat-grid-list cols="2" gutterSize="3vh" rowHeight="12vh">
    @for (reponse of reponsesList; track reponse; let i = $index) {
      <mat-grid-tile class="bloc-reponse">
        <div class="champ-reponse" [class.reponse-donnee]="reponseDonnee().get(reponse)">
          {{ reponse }}
        </div>
        <div
          class="cache-reponse"
          [class.hidden]="reponseDisplay().get(reponse)"
          (click)="revealReponses(reponse)"
        >
          {{ i + 1 }}
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>
