@import '../../../../../assets/palette.scss';

.champ-question {
  margin-left: 1vw;
  width: 60vw;
}
.champ-reponse {
  margin-left: 1vw;
  width: 40vw;
  text-align: center;
  font-size: 2vw;

  &.mort-subite {
    color: $couleur-mort-subite;
  }
}
